/* Add here all your CSS customizations */

#footer .list.list-icons.list-icons-style-3 li > [class*="fa-"]:first-child {
    line-height: 15px;
}

#footer .footer-ribbon {
    margin: -19px 0 0 0;
}

html .featured-box-effect-3.featured-box-secondary:hover .icon-featured {
    background: #a21817 !important;
}

html .featured-boxes-style-3 .featured-box.featured-box-secondary .icon-featured {
    border-color: #a21817;
    color: #a21817;
}

html .featured-box-secondary h4 {
    color: #a21817;
}

.post-content {
    margin-top: 60px;
    margin-bottom: 60px;
}

@media (min-width: 992px) {
    #header .header-nav-main nav > ul > li > a {
        color: #a21817;
    }

    #header .header-nav-main nav > ul:not(:hover) > li > a.active {
        background-color: #a21817;
    }

    #header .header-nav-main nav > ul > li.open > a, #header .header-nav-main nav > ul > li:hover > a {
        background-color: #a21817;
    }

    #header .header-nav-main nav > ul > li.dropdown.open > a, #header .header-nav-main nav > ul > li.dropdown:hover > a {
        border-radius: 4px 4px 4px 4px;
    }

    #header .header-nav-main nav > ul > li.dropdown.open > a:before, #header .header-nav-main nav > ul > li.dropdown:hover > a:before {
        content: unset;
    }
}

.about-us-page p {
    font-size: 1.2em;
    line-height: 2em;
}

.testimonial blockquote p {
    font-family: "Open Sans", Arial, sans-serif;
}

.item-partner {
    padding: 10px 45px;
    border: 1px solid #eee;
    text-align: center;
}

#partner .owl-carousel .owl-item img {
    height: 45px;
    width: auto;
    margin: 0 auto;

}

#partner .owl-item:hover {
    box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
}

.owl-carousel.stage-margin .owl-stage-outer .owl-stage {
    padding: 15px 0 !important;
}

.post-content {
    margin-top: 35px;
    margin-bottom: 20px;
}