/* Add here all your CSS customizations */

#footer .list.list-icons.list-icons-style-3 li > [class*="fa-"]:first-child {
    line-height: 15px;
}

#footer .footer-ribbon {
    margin: -19px 0 0 0;
}

html .featured-box-effect-3.featured-box-secondary:hover .icon-featured {
    background: #a21817 !important;
}

html .featured-boxes-style-3 .featured-box.featured-box-secondary .icon-featured {
    border-color: #a21817;
    color: #a21817;
}

html .featured-box-secondary h4 {
    color: #a21817;
    font-weight: 500!important;
}

html .text-color-dark {
    font-weight: 500;
}

.post-content {
    margin-top: 60px;
    margin-bottom: 60px;
}

#header .header-nav-features .header-nav-top-icon, #header .header-nav-features .header-nav-top-icon-img {
    color: #fff;
}

#header .header-logo img {
    top: 0;
    width: 80px
}

#header .header-nav {
    padding: 16px 0;
}

h1.text-change {
    
}

#header .header-nav-main nav > ul > li > a{
    background: -webkit-linear-gradient(#000, #fff, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4, h5, h3, h2, h1:not(.text-change)  {
    background: -webkit-linear-gradient(#000, #969292, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-change .bg-primary {
    background-color: #385574 !important;
}

.text-change b {
    background: -webkit-linear-gradient(#828282, #fff, #636161);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-change p {
    line-height: 40px;
}

.color-gradient {
    background: -webkit-linear-gradient(#fffbfb, #bbb5b5c7, #fff8f8)!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
}

html .featured-box-effect-3.featured-box-secondary:hover .icon-featured {
    background: rgb(232,233,236)!important;
    background: linear-gradient(180deg, rgba(232,233,236,1) 0%, rgba(132,136,144,0.9864320728291317) 60%, rgba(235,235,240,1) 100%)!important;
}

html .featured-boxes-style-3 .featured-box.featured-box-secondary .icon-featured {
    border-color: #848080;
    color: #848080;
}

html .featured-box-effect-3.featured-box-secondary .icon-featured:after {
    box-shadow: 0 0 0 10px #848080;
}


@media (min-width: 992px) {
    #header .header-nav-main nav > ul > li > a {
        color: #fff;
        font-size: 16px;
    }

    #header .header-nav-main nav > ul:not(:hover) > li > a.active {
        background-color: transparent;
        color: #ff0009;
        -webkit-text-fill-color: #ff0009;
    }

    #header .header-nav-main nav > ul > li.open > a, #header .header-nav-main nav > ul > li:hover > a {
        background-color: transparent;
        color: #ff0009;
        -webkit-text-fill-color: #ff0009;
    }

    #header .header-nav-main nav > ul > li.dropdown.open > a, #header .header-nav-main nav > ul > li.dropdown:hover > a {
        border-radius: 4px 4px 4px 4px;
    }

    #header .header-nav-main nav > ul > li.dropdown.open > a:before, #header .header-nav-main nav > ul > li.dropdown:hover > a:before {
        content: unset;
    }
}

.about-us-page p {
    font-size: 1.2em;
    line-height: 2em;
}

.item-partner {
    padding: 10px 45px;
    border: 1px solid #eee;
    text-align: center;
}

#partner .owl-carousel .owl-item img {
    height: 45px;
    width: auto;
    margin: 0 auto;

}

#partner .owl-item:hover {
    box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
}

.owl-carousel.stage-margin .owl-stage-outer .owl-stage {
    padding: 15px 0 !important;
}

.post-content {
    margin-top: 35px;
    margin-bottom: 20px;
}

#footer p {
    margin-bottom: 10px;
    color: #e0dbdb;
}
#footer  {
    color: #e0dbdb;
}

.info li, .categories {
    font-size: 1em;
}

#footer a:not(.btn) {
    color: #e0dbdb;
}

.categories {
    padding-left: 0;
}

.categories li {
    margin-bottom: 8px;
}

#footer h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.footer-copyright p {
    font-size: 14px;
    color: #fff;
}

#footer h4:before {
    content: '';
    position: absolute;
    width: 34px;
    height: 2px;
    background-color: #a29f9f;
    bottom: -12px;
    left: 0;
}

#footer .list.list-icons li {
    list-style: disc;
    padding-left: 0;
}

body, html, .testimonial blockquote p {
    font-family: 'Quicksand', sans-serif;
}

#mainNav {
    font-family: "Open Sans", Arial, sans-serif;
}

#header .header-logo, #header .header-logo a {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header .header-column {
    justify-content: center;
}

#header .header-nav-main nav > ul > li > a {
    font-weight: bold;
}

#header .header-body {
    background-color: #204063e3;
    border: none;
}

p {
    color: #000;
}

@media (max-width: 550px) {
    p {
        line-height: 35px;
    }
    .list.list-icons, .categories {
        padding-left: 15px;
    }
    .list.list-icons p, .categories p {
        margin-bottom: 0;
    }
    #header .header-logo img {
        height: 60px;
    }
    section.section {
        padding-bottom: 0 !important;
    }
    .page-header.page-header-modern.page-header-background.page-header-background-md {
        padding: 16px 0;
    }
    .text-sm-center {
        text-align: center;
    }
    #footer {
        text-align: center;
    }
    #footer h4:before {
        left: 45%;
    }
    #footer li, #footer .list.list-icons li {
        list-style: none;
    }
}

@media (max-width: 991px) {
    #header .header-nav-main:before {
        background-color: #204063;
    }
    #header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a.active {
        -webkit-text-fill-color: #C4161C;
        background: transparent;
    }
    #header .header-logo img {
        /*top: -22px;*/
        /*max-height: 100%;*/
    }

}